// Import all partials
@require './_*.styl'

.row
  display inline block

.notes-list
   float left
   max-width 30%
   min-width 30%
   border 2px solid black

.note-detail
  float right
  min-width 68%
  max-width 68%
  border 2px solid red

header.top
  text-align center
  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;
   